@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


.ground {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, #3b7a3a, #4CAF50);
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
}


.ground::before,
.ground::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 80px;
  background: #3b7a3a;
  border-radius: 5px;
}
.ground::before {
  left: 10%;
  bottom: 5px;
  transform: rotate(-10deg);
}
.ground::after {
  right: 15%;
  bottom: 8px;
  transform: rotate(15deg);
}

img {
  width: 295px;
  height: 278px;
  margin-top: 119px;
  margin-left: 123px;
}

.ball-pic {
  width: 200px;
}

span {
  position: absolute;
  top: 20%;
  left: 21%;
  font-size: 30px;
  transition: transform 0.5s ease-out;
}

.thrown-down {
  animation: throwBallDown 2s forwards;
}


@keyframes throwBallDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(260px);
  }
}

.container {
  background-color: aliceblue;
  height: 300px;
  width: 430px;
  margin-left: 440px;
  margin-top: -352px;
  border-radius: 10px;
  padding: 20px;
}

input, select, button {
  display: block;
  margin: 20px auto;
  font-family: 'Poppins';
  height: 30px;
  width: 70%;
  border-radius: 10px;
  font-weight: 600;
  font-size: 17px;
}

button {
  height: 34px;
  font-size: 18px;
  background-color: blue;
  color: white;
}

h1 {
  text-align: center;
  font-size: 20px;
}

.result {
  background-color: aliceblue;
  width: 20%;
  margin: 70px auto;
  margin-left: 450px;
  height: 200px;
  border-radius: 10px;
  padding: 20px;
}

.result p {
  font-weight: 600;
  text-align: center;
}

h2 {
  text-align: center;
  margin: 0;
}


@media (max-width: 768px) {
  .container, .result {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
  }

  img {
    width: 250px;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  span {
    font-size: 24px;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }

  input, select, button {
    width: 80%;
    margin: 10px auto;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 18px;
  }
  .hide-container {
    display: none;
}
}

@media (max-width: 480px) {
  .container, .result {
    width: 67%;
        margin: 132px auto;
        padding: 5px;
        height: auto;
  }

  img {
    width: 200px;
    margin: 0 auto;
  }

  span {
    font-size: 24px;
    top: 3%;
    left: 63%;


  }

  input, select, button {
    width: 90%;
    font-size: 16px;
  }

  h1, h2 {
    font-size: 16px;
  }
}
